<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FloridaTestSuite" parallel="false">

    <test name="FloridaTests">
        <classes>
            <class name="florida.Automation"/>
        </classes>
    </test>

    <!-- Test for Chrome browser -->
    <test name="FloridaTestChrome" preserve-order="true">
        <parameter name="browserName" value="chrome"/> <!-- For Chrome -->
        <classes>
            <class name="florida.Automation"/>
        </classes>
    </test>

    <!-- Test for Firefox browser -->
    <test name="HomeTestFirefox" preserve-order="true">
        <parameter name="browserName" value="firefox"/> <!-- For Firefox -->
        <classes>
            <class name="florida.Automation"/>
        </classes>
    </test>

    <!-- Test for Edge browser -->
    <test name="HomeTestEdge" preserve-order="true">
        <parameter name="browserName" value="edge"/> <!-- For Edge -->
        <classes>
            <class name="florida.Automation"/>
        </classes>
    </test>

</suite>